/* Start Variables */
:root {
    --purple100: hsl(254, 88%, 90%);
    --purple500: hsl(256, 67%, 59%);
    --yellow100: hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);
    --black: hsl(0, 0%, 7%); 
    --white: hsl(0, 0%, 100%);
    --main-trans: 0.3s;
    --narrow-spacing: -2px;
}
/* End Variables */

/* Start Global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(243, 243, 243);
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

div > img {
    max-width: 100%;
}

.container > div {
    border-radius: 10px;
}
/* End Global */

/* Start Local */
.container {
    display: grid;
    gap: 30px;
    max-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(8, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
}

.container .create {
    background-color: var(--yellow100);
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    padding: 30px;
    align-content: center;
}

.container h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.container .create h1 {
    letter-spacing: var(--narrow-spacing);
    line-height: 0.9;
}

.container .create span {
    color: var(--purple500);
    font-style: italic;
}

.container .faster-with-ai {
    background-color: var(--purple500);
    padding: 50px;
    color: white;
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .faster-with-ai .stars {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container .faster-with-ai h1 {
    font-size: 3.5rem;
    letter-spacing: normal;
    line-height: 0.9;
}

.container .faster-with-ai span:first-of-type {
    color: var(--yellow500)
}

.container .faster-with-ai span:last-of-type {
    font-style: italic;
}

.container .faster-with-ai p {
    color: var(--white);
}

.container .schedule {
    padding: 30px;
    background-color: var(--purple100);
    color: black;
    overflow: hidden;
    grid-column: 4 / 4;
    grid-row: 1 / 6;
}

.container .schedule h2 {
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 0.9;
}

.container .schedule div {
    margin: 20px 0;
    width: 185%;
}

.container .schedule p {
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container .write-content {
    background-color: var(--yellow500);
    grid-column: 1 / 1;
    grid-row: 3 / 9;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .write-content h1 {
    letter-spacing: var(--narrow-spacing);
    line-height: 0.9;
}

.container .manage {
    background-color: white;
    padding: 20px;
    grid-column: 2 / 2;
    grid-row: 2 / 6;
    overflow: hidden;
}

.container .manage div {
    width: 150%;
}

.container .manage h1 {
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 0.9;
}

.container .maintain {
    background-color: var(--yellow500);
    padding: 0 20px;
    grid-column: 3 / 3;
    grid-row: 2 / 6;
    overflow: hidden;
}

.container .maintain h1 {
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 0.9;
}

.container .audience {
    background-color: white;
    padding: 20px;
    grid-column: 2 / 2;
    grid-row: 6 / 9;
    overflow: hidden;
}

.container .audience h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0.9;
}

.container .audience p {
    margin: 10px;
}

.container .audience div {
    width: 70%;
}

.container .grow {
    grid-column: 3 / span 2;
    grid-row: 6 / 9;
    overflow: hidden;
    display: flex;
    background-color: var(--purple500);
    padding: 20px;
    color: white;
}

.container .grow div {
    /* width: 60%; */
}

.container .grow h1 {
    letter-spacing: -1px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 0.9;
}
/* End Local */

/* Start Media Queries */
@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Queries */